.combination-group label {
  color: #e5e7eb;
  font-family: "Prosto One";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  width: 100%;
}

.combination-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  align-items: flex-end;
}

.combination-group.--disabled {
  pointer-events: none;
}

.combination-item {
  position: relative;
  width: 100%;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  box-shadow:
    0 4px 6px 0 rgba(0, 0, 0, 0.1),
    0 0 10px 1px rgba(255, 255, 255, 0.1) inset;
}

.combination-item.--glow {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background:
    linear-gradient(
      0deg,
      rgba(255, 215, 0, 0.3) 0%,
      rgba(255, 215, 0, 0.3) 100%
    ),
    rgba(255, 255, 255, 0.1);
  box-shadow:
    0 0 4px 1px rgba(255, 215, 0, 0.5) inset,
    0 0 4px 0 #ffd700;
}

.combination-item.--glow .combination-item__count {
  background: linear-gradient(
    145deg,
    #e1bf64 0.96%,
    #f1d074 65.38%,
    #e6c36a 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.combination-item__title {
  color: #fff;
  font-family: "Prosto One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.combination-item__subTitle {
  color: #d1d5db;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 150% */
}

.combination-item__count {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Playfair Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  margin-top: 10px;
}
