.info-modal {
  position: fixed !important;
  inset: 0 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  z-index: 100 !important;
}

.info-modal__container {
  position: absolute !important;
  box-sizing: border-box !important;
  right: 50% !important;
  top: 50% !important;
  transform: translate(50%, -50%) !important;
  max-height: 33.3333333333rem !important;
  max-width: 54.1666666667rem !important;
  width: 90% !important;
  height: 90% !important;
  background-image: url("/img/info-modal-bg.4db5972c.jpg") !important;
  background-size: cover !important;
  box-shadow: 0 0.4166666667rem 0.4166666667rem rgba(0, 0, 0, 0.5) !important;
  border-radius: 0.5rem !important;
  padding: 3.75rem 1rem 2.6666666667rem !important;
  z-index: 101 !important;
}

.info-modal__close {
  position: absolute !important;
  top: 1.0416666667rem !important;
  right: 1rem !important;
  height: 0.5833333333rem !important;
  width: 0.5833333333rem !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  background-image: url("/img/close-icon-info.b4b687d1.svg") !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.modal-payments {
  box-sizing: border-box !important;
  white-space: pre-line !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  padding: 0 1rem !important;
}

.modal-payments::-webkit-scrollbar {
  width: 0.4166666667rem !important;
}

.modal-payments::-webkit-scrollbar-thumb {
  background-color: #bf9d4c !important;
  border-radius: 0.4166666667rem !important;
}

.modal-payments__title {
  font-family: Ubuntu, sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  line-height: 146% !important;
  color: #000 !important;
  margin: 0 0 0.5rem !important;
}

.mevaho-payments {
  width: 100% !important;
  border-spacing: 0 !important;
}

.mevaho-payments tr:first-child th:last-child {
  border-top-right-radius: 0.3333333333rem !important;
}

.mevaho-payments tr:first-child th:first-child {
  border-top-left-radius: 0.3333333333rem !important;
}

.mevaho-payments__designations {
  overflow-wrap: anywhere !important;
}

.mevaho-payments__img {
  height: 1.25rem !important;
  width: 1.25rem !important;
}

.mevaho-payments th {
  border: 0.0416666667rem solid #000 !important;
  background-color: #8c0009 !important;
  font-weight: 400 !important;
  color: #fff !important;
  font-family: Ubuntu, sans-serif !important;
  font-style: normal !important;
  font-size: 0.75rem !important;
  line-height: 0.875rem !important;
  padding: 0.25rem !important;
}

.--gambusaki .mevaho-payments th {
  background-color: #2a414c !important;
}

.mevaho-payments td {
  border: 0.0416666667rem solid #000 !important;
  font-family: Ubuntu, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  line-height: 0.875rem !important;
  padding: 0.25rem !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.--gambusaki .mevaho-payments td {
  color: #000 !important;
}

.mevaho-payments tbody tr:nth-child(2n) {
  background-color: transparent !important;
}

.mevaho-payments tbody tr:nth-child(odd) {
  background-color: #ebe7df !important;
}

.mevaho-payments__combination {
  margin: 0 !important;
  font-family: Ubuntu, sans-serif !important;
  white-space: nowrap !important;
  display: inline-flex !important;
}

.modal-payments__mobile {
  display: none !important;
}

.mobile-payments {
  display: none !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 0.4166666667rem !important;
}

.mobile-payments table {
  color: #000 !important;
  z-index: -2 !important;
  border-spacing: 0 !important;
  width: 100% !important;
}

.mobile-payments tr:last-child td:first-child {
  border-bottom-left-radius: 0.3333333333rem !important;
}

.mobile-payments tr:last-child td:last-child {
  border-bottom-right-radius: 0.3333333333rem !important;
}

.mobile-payments tr:first-child th:last-child {
  border-top-right-radius: 0.3333333333rem !important;
}

.mobile-payments tr:first-child th:first-child {
  border-top-left-radius: 0.3333333333rem !important;
}

.mobile-payments th {
  border: 0.0416666667rem solid #000 !important;
  background-color: #8c0009 !important;
  font-weight: 400 !important;
  color: #fff !important;
  font-family: Ubuntu, sans-serif !important;
  font-style: normal !important;
  padding: 0.25rem !important;
  font-size: 0.5833333333rem !important;
  line-height: 0.6666666667rem !important;
}

.--gambusaki .mobile-payments th {
  background-color: #2a414c !important;
}

.mobile-payments td {
  border: 0.0416666667rem solid #000 !important;
  font-family: Ubuntu, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  padding: 0.25rem !important;
  font-size: 0.5833333333rem !important;
  line-height: 0.6666666667rem !important;
  background-color: #ebe7df !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.info-modal .state-panel {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 !important;
  font-family: Ubuntu, "Alegreya Sans", sans-serif !important;
  font-size: 0.75rem !important;
  color: #000 !important;
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}

@media (max-width: 920px) {
  .info-modal__container {
    padding: 1.5rem 0.5rem 1rem !important;
  }

  .info-modal__close {
    top: 0.5rem !important;
    right: 0.5rem !important;
  }

  .modal-payments {
    padding: 0 0.1666666667rem 0 0 !important;
  }

  .modal-payments__title {
    font-size: 0.75rem !important;
  }

  .modal-payments__desktop {
    display: none !important;
  }

  .modal-payments__mobile {
    display: flex !important;
  }

  .mobile-payments {
    display: flex !important;
  }
}
