.payouts,
.payouts table,
.payouts tr {
  width: 100%;
  text-align: left;
}

.payouts {
  padding: 16px;
  padding-bottom: 0px;
}

.payouts table {
  border-collapse: collapse;
  border-spacing: 0;
}

.payouts_title {
  color: #fff;
  font-family: "Prosto One";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.9px;
}

.payouts td {
  color: #d1d5db;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payouts th {
  color: #d1d5db;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 4px 14px 4px;
  min-width: 50px;
}

.payouts tr td:first-child {
  color: #d1d5db;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payouts tbody tr {
  border-top: 1px solid rgba(77, 77, 77, 0.4);
  height: 42px;
}

.payouts tbody tr:nth-child(even) .payout-cell {
  background: rgba(255, 255, 255, 0.1);
}
.payouts td {
  vertical-align: middle;
}

.payout-cell {
  height: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 4px;
}

.payouts tr:last-child {
  height: 31px !important;
}
